In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('instagram_data.csv')
df.head(3)

,owner_id,owner_username,shortcode,is_video,caption,comments,likes,created_at,location,imageUrl,multiple_images,username,followers,following
0,36063641,christendominique,C3_GS1ASeWI,False,I‚Äôm a brunch & Iced Coffee girlie‚òïÔ∏èüç≥ \n\nTop @...,268,16382,1.709327e+09,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t39....,True,christendominique,2144626.0,1021.0
1,36063641,christendominique,C38ivgNS3IX,True,üòÆ‚Äçüí®Brow tips I really wish I would have know w...,138,9267,1.709241e+09,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0
2,36063641,christendominique,C35-Dd9SO1b,True,OMG I can‚Äôt believe it‚Äôs already been 1 yr sin...,1089,10100,1.709155e+09,NaN,https://instagram.flba2-1.fna.fbcdn.net/v/t51....,False,christendominique,2144626.0,1021.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11692 entries, 0 to 11691
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   owner_id         11692 non-null  object
 1   owner_username   11690 non-null  object
 2   shortcode        11690 non-null  object
 3   is_video         11690 non-null  object
 4   caption          11531 non-null  object
 5   comments         11690 non-null  object
 6   likes            11690 non-null  object
 7   created_at       11689 non-null  float64
 8   location         4523 non-null   object
 9   imageUrl         11689 non-null  object
 10  multiple_images  11689 non-null  object
 11  username         9577 non-null   object
 12  followers        9577 non-null   float64
 13  following        9577 non-null   float64
dtypes: float64(3), object(11)
memory usage: 1.2+ MB

In [7]:
df = df[['owner_username', 'caption', 'comments', 'likes', 'followers', 'following', 'created_at', 'is_video']]
df.head(3)

,owner_username,caption,comments,likes,followers,following,created_at,is_video
0,christendominique,I‚Äôm a brunch & Iced Coffee girlie‚òïÔ∏èüç≥ \n\nTop @...,268,16382,2144626.0,1021.0,1.709327e+09,False
1,christendominique,üòÆ‚Äçüí®Brow tips I really wish I would have know w...,138,9267,2144626.0,1021.0,1.709241e+09,True
2,christendominique,OMG I can‚Äôt believe it‚Äôs already been 1 yr sin...,1089,10100,2144626.0,1021.0,1.709155e+09,True

In [9]:
len(df['owner_username'].unique())

931

In [11]:
df['created_at'] = pd.to_datetime(df['created_at'], unit='s')
df['hour'] = df['created_at'].dt.hour
df['day_of_week'] = df['created_at'].dt.day_name()
df.head(3)

,owner_username,caption,comments,likes,followers,following,created_at,is_video,hour,day_of_week
0,christendominique,I‚Äôm a brunch & Iced Coffee girlie‚òïÔ∏èüç≥ \n\nTop @...,268,16382,2144626.0,1021.0,2024-03-01 20:59:18,False,20.0,Friday
1,christendominique,üòÆ‚Äçüí®Brow tips I really wish I would have know w...,138,9267,2144626.0,1021.0,2024-02-29 21:10:48,True,21.0,Thursday
2,christendominique,OMG I can‚Äôt believe it‚Äôs already been 1 yr sin...,1089,10100,2144626.0,1021.0,2024-02-28 21:11:47,True,21.0,Wednesday

In [13]:
df.to_csv("instagram_cleaned.csv", index=False)